.news-card-full {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.news-card-full__title {
  font-size: 1.6em;
  font-weight: 500;
}

.news-card-full__category-type {
  display: inline-block;
}
